[2014-11-24 18:57] marr opened #1 "Including via NPM complains that its pre-built"
Hi,
I am including the payment module in a node application, and building with webpack. I see the following warning when building:

WARNING in ./~/payment/lib/payment.js
Critical dependencies:
1:459-466 This seem to be a pre-built javascript file. Even while this is possible, it's not recommended. Try to require to orginal source to get better results.
 @ ./~/payment/lib/payment.js 1:459-466

[2014-11-27 19:58] #1 closed, assigned to nobody

[2014-12-05 17:51] mikemaccana opened #2 "Feature request: support separate month and year fields"
Similar to https://github.com/stripe/jquery.payment/pull/38 on payment.js

[2014-12-05 17:51] mikemaccana opened #3 "Feature request: support separate month and year fields"
Similar to https://github.com/stripe/jquery.payment/pull/38 on jquery.payment

[2015-01-21 12:18] samosad opened #4 "hasTextSelected bug in IE8"
[https://github.com/jessepollak/payment/blob/master/lib/payment.js#L360]
CoffeeScript generated code asserts that document.selection.createRange is a function:
[code]

But actually in IE8:
[code]
so it always return false in IE8

[2015-03-08 02:43] #4 closed

[2015-03-08 02:44] jessepollak commented on #4
Thank you for the PR — shipped in v0.0.6!

[2015-07-14 11:34] mitchellvanw commented on #1
@jessepollak I just started using `payment` and getting the exact same warning.
My import statement `import Payment from 'payment/lib/payment'`

[2015-07-18 22:05] #2 closed

[2015-07-18 22:06] jessepollak commented on #3
I'd love to make this happen. If someone wants to start working on a PR, I can help in anyway possible!

[2015-08-07 20:44] reefdog opened #12 "Can't select and overwrite CVC when it's full"
**Steps to reproduce:**

1. Enter four digits into the CVC field
2. Select the digits
3. Attempt to type more digits to delete the selected digits and replace with new ones

**Expected:** Same behavior as the number/expiry fields (and as normal text selection in inputs)

**Actual:** Typing blocked as if I was trying to add more than four digits

**Notes:** I can see that `restrictCardNumber()`/`re

[2015-10-08 23:12] pospi opened #15 "Does not build under webpack"
Modules which `require(payment)` as a dependency cause production webpack builds to fail. It seems like the fact that all files are bundled together is an issue; suspect the fix is to setup a build process that compiles each coffeescript file into a *separate* javascript file, rather than bundling them all together.

The error webpack outputs is:
[code]

Though it presents as a warning and will pa

[2015-10-08 23:23] pospi commented on #15
Sorry, just realised this is a duplicate of #1. However the fix specified there (loading `payment/src/payment` instead of just `payment`) doesn't work - you end up with the same error from a dependency of payment itself:

[code]

You would also need to load `qj` by its src path to avoid this. PR incoming..

[2015-10-10 22:43] jessepollak commented on #15
This should be fixed under 0.0.10!

[2015-10-16 09:10] pospi commented on #15
works great! they are ready to merge over at https://github.com/shatran/card-react/pull/3 once npm updates (:

[2015-10-17 20:00] jessepollak commented on #15
whoops! thought I published it - v0.0.10 is now published with the fix!

[2015-10-31 17:06] shatran opened #18 ""Error: Cannot find module 'coffeeify' from 'card-react/node_modules/payment'""
Hi @jessepollak,
After I've updated card-react to get payment v0.0.10, I get this error when i try to build it:
"Error: Cannot find module 'coffeeify' from 'card-react/node_modules/payment'"
and i've noticed you added coffeeify browserify transform to package.json.
So i think 'coffeeify should be added to 'dependencies' section in package.json.
I've added it in card-react's package.json and it wor

[2015-11-01 22:54] jessepollak commented on #3
Woooooo — this was fixed in #17!

[2015-11-01 22:54] #3 closed

[2015-11-01 22:55] jessepollak commented on #18
Just fixed this — will release in v0.1.0!

[2015-11-01 22:55] #18 closed

[2015-11-01 22:57] #12 closed

[2015-11-02 08:51] shatran commented on #18
Thanks!

[2015-12-18 03:08] wfcreations opened #22 "Elo check order"
"Elo" card type must be before "visa" for correct check

[2016-01-03 01:59] #22 closed

[2016-02-08 22:32] Scottjutsu commented on #15
Is this indeed fixed?  I'm seeing the same warning on 0.0.12 (and webpack 1.12.9)

PS.  Thanks for the great work @jessepollak !

[2016-02-17 11:55] joaojeronimo opened #24 "Visa 4000000000000000030 doesn't pass the validation"
```assert(Payment.fns.validateCardNumber('4000000000000000030'), 'visa')``` throws.

[2016-04-22 00:13] cauealves opened #27 "Update the pattern of ELO."
This is the updated table of bins at `elo`:

![bins 1](https://cloud.githubusercontent.com/assets/7065285/14727592/e83d342c-0802-11e6-88d9-fb3d3eec2301.png)

When I test with the `457393` was a problem, see:

![captura de tela 2016-04-21 as 20 53 58](https://cloud.githubusercontent.com/assets/7065285/14727613/366dfe9c-0803-11e6-94a4-20a50354bda5.png)

[2016-04-23 19:03] #27 closed

[2016-04-23 19:16] jessepollak commented on #24
So, according to [this article](http://validcreditcardnumbers.info/?p=9), Visa card numbers can only be 13 or 16 digits long. This card number is 19 digits long. Are you sure this is supposed to be a valid Visa card number?

I'm closing, please reopen if you think it is!

[2016-04-23 19:16] #24 closed

[2016-04-24 02:29] joaojeronimo commented on #24
According to the [Bank card number wikipedia page](https://en.wikipedia.org/wiki/Bank_card_number) VISA card numbers can have 13, 16 and 19 digits. I forgot where I got the number from (will get the source on Monday) but that is a visa 19 digit test card number and it goes through cybersource at least.

[2016-04-25 00:39] jessepollak commented on #24
Awesome, thank you for that link — I'll update to validate 19 character numbers!

[2016-04-26 12:50] joaojeronimo opened #33 "Support MasterCard series 2 bins"
Mastercard is introducing a new range of card numbers with IINs ranging from 22210000 to 27209999, effective on October 14th.

Relevant links: [[1](https://www.forte.net/blog/mastercard-bin-range-coming/)], [[2](https://en.wikipedia.org/wiki/Bank_card_number)]

[2016-05-01 22:40] jessepollak commented on #33
Do you have any example cards that we can test on for this?

[2016-05-27 19:57] FutureKode commented on #15
+1 seeing the same issue in webpack

[2016-05-31 19:28] chrisfinch opened #35 "Expose formatCardCVC and formatCardExpiry under Payment.fns"
Hi - great library, thanks for your work on it.

I'm trying to integrate this library with a React.js payment form. This stops me from using and direct event handlers on the input fields.

I've had success with using the `Payment.fns.formatCardNumber` function to help me format my user input as part of the react data flow but unfortunately the related functions for expiry and cvc are not exposed i

[2016-05-31 21:43] chrisfinch commented on #15
Seeing the same issue here aswell.

[2016-06-01 16:54] chrisfinch commented on #15
@Scottjutsu @FutureKode did you find another library to work with instead of this one?

@jessepollak would it be possible to re-open this issues again?

[2016-06-01 17:52] jessepollak commented on #15
Reopened — I can take a look at this over the weekend!

[2016-06-02 15:31] vikmovcan opened #36 "keypress event is ignored on android (mobile)"
On android devices keypress events are not being triggered.
Input is not being validated/formatted as a result. it works fine on desktop and iOS.

I used two android(v6 and v4.4) devices to test this using chrome/stock browser.

can be reproduced here: http://jessepollak.github.io/payment/example/

Example above demonstrates that card number is not being validated because
https://github.com/jessep

[2016-06-03 03:34] chrisfinch commented on #15
@jessepollak thanks dude 👍

[2016-06-14 16:27] jessepollak commented on #15
Hi, I've been investigating this and it's related to the fact that we build with browserify (see issue [here](https://github.com/webpack/webpack/issues/1617)). I'm going to switch the builds of this, [qj](https://github.com/jessepollak/qj) and [card](https://github.com/jessepollak/card) to webpack to resolve, hopefully in the next week.

[2016-06-14 21:13] joshwcomeau commented on #36
I'm having the same issue. Has a fix been discovered yet?

[2016-06-15 09:09] bedeMarkRadford commented on #33
So far there's been no test card number issued.
I've been offered this regex:
(5[1-5]\d{4}|677189)\d{10}$|^(222[1-9]|2[3-6]\d{2}|27[0-1]\d|2720)\d{12}$

[2016-06-26 22:52] jessepollak commented on #15
Hi — can y'all try building with `2.0.0-beta1`? I believe all these issues are now resolved :)

[2016-06-26 22:52] #15 closed

[2016-06-28 08:48] ahumphreys87 commented on #36
@jessepollak any ideas on this?

[2016-06-28 11:05] joshwcomeau commented on #36
The issue is that the code uses the `keypress` event, which is not supported by Android.

I tried switching it to `keydown`, but I ran into some other issues, so in the end I just opted to leave Android inputs unformatted/validated, and to pass it along to Stripe.

[2016-07-17 23:39] #33 closed

[2016-07-29 05:52] metaflow opened #40 "verification of UnionPay card numbers"
Hi @jessepollak! As I see 'unionpay' cards are not validated with Luhn. [Wikipedia article](https://en.wikipedia.org/wiki/Payment_card_number) mentioned that for some period between 2013 and 2015 but now it suggest that all current cards to be validated.
Do you have any reference for that matter other than wiki?

[2016-07-30 22:02] janicklas-ralph opened #41 "Payment.fns.formatCardNumber formats maxlength + 1"
Thank you for this great port.

Payment.fns.formatCardNumber slices on maxlength + 1, this is causing card numbers to accept an extra input.

[2016-07-31 15:30] themeteorchef commented on #41
Noticing this, too. Pre-2.0.0 releases don't seem to have the issue (rolled back to 1.0.4 and it disappeared). For clarification, I can type beyond 16 numbers (19) into any field with `formatCardNumber` attached. Thanks in advance for any fixes :)

[2016-08-01 01:43] #41 closed

[2016-08-01 01:49] jessepollak commented on #41
Thanks! Fixed in 2.0.3!

[2016-08-06 05:48] lorensr opened #43 "FR: Allow validation of card number and CVC together"
If cvc has like a number checksum or something?

`Payment.fns.validateCardNumberWithCVC(number, cvc)`

[2016-08-09 10:02] FutureKode opened #44 "formatCardNumber is allowing 19 characters"
I am using version 2.0.3

Payment is allowing 19 characters for visa type card numbers.

[2016-08-10 12:39] Yottster commented on #44
And that is correct according to:
https://en.wikipedia.org/wiki/Payment_card_number
Visa lengths: 13, 16, 19

[2016-08-10 13:41] FutureKode commented on #44
Ah thank you @Yottster , I did not know that.

[2016-08-10 13:41] #44 closed

[2016-08-26 21:46] kaatt opened #46 "Bug: can remove slash from expire field and spaces from card number field"
Users can go back and remove the slash from the expire field and then cannot add it back unless i remove everything.

Type 1234 in the expire field, press the left arrow 2 times, press backspace two times.

---

Spaces can also be removed in the same way from the card number field.

jquery.payment doesn't have these bugs.

[2016-09-13 19:41] mgreer opened #49 "Lib folder missing from 2.1.0 release"
Looks like this got left out, so staying at 2.0.3 for us webpack users.

Thanks for the great work!

[2016-09-18 23:46] jessepollak commented on #49
Thanks for reporting this! For `npm`, the `lib/` folder should be present. For bower, I've changed it to use the `dist/payment.js` file in `v2.1.2`. Thanks again!

[2016-09-18 23:46] #49 closed

[2016-09-19 18:08] Swivelgames commented on #36
I've forked the repo in an attempt to remedy it myself; We just went to production unaware of this defect, until sales started dropping.

If I get a chance to I'll post up a pull request if I figure out a good solution. Don't let that stop you from looking into it whenever you have time @jessepollak -- It would be much appreciated!

[2016-09-28 17:27] tinovyatkin opened #50 "BUG: Mastercard pattern property defined twice"
MasterCard `pattern` property is defined twice in constructor and it's not allowed in Javascript strict mode, resulting in error when building, for example, your `card` with something like Rollup and executing with `'strict mode'`

[2016-10-01 15:22] danieljuhl commented on #35
@chrisfinch are you still looking for a solution? I have integrated Payment and Card with React (as standalone) and thus, have extracted the methods mentioned. Currently in a private repo, but if you're interested, I can make a public module.

[2016-10-03 00:10] jessepollak commented on #35
hey @danieljuhl I'd also be happy to accept a PR if you'd like to submit one. Thanks!

[2016-11-10 01:42] pudgereyem commented on #35
@danieljuhl I'd like that too. Thanks!

[2016-11-10 11:50] danieljuhl commented on #35
I'm working on a payment integration right now, but can't say if it's a week or two, until I can have a PR ready.

But it will come 😄

[2016-11-14 18:39] ferenckv opened #53 "When using with React/Redux, it does not fire element's onChange event every 4 digits when formatting card number"
If I have an issue with the function formatCreditCard when using React/Redux. It does not fire element's onChange event every 4 digits.

You can see the issue here
http://www.webpackbin.com/Nyy7s1m-f

As you can see, as you fill in the credit card number, the console prints it but it skips the 4th, 8th, 12th digits.

[2016-11-16 07:03] pudgereyem commented on #35
@danieljuhl okay, thanks! :)

[2016-12-07 17:00] egoldblum commented on #36
Also ran into this bug.  `jquery.payment`, from which this library was derived(?), handles this using `input` event and reformatting.  See: https://github.com/stripe/jquery.payment/commit/273d79a08c82795eb24ec36463055e973abfe43c

[2016-12-11 19:51] #50 closed

[2016-12-17 05:11] gertig commented on #53
@ferenckv I just noticed the same behavior. Were you able to find a workaround?

[2016-12-29 11:31] AlexGaspar commented on #53
If we trigger `input` instead of `change` [here](https://github.com/jessepollak/payment/blob/master/src/index.coffee#L173-L183) and allow it to bubble up, it triggers the onChange handler (at least in my case).

[code]
Into:
[code]

@gertig, @ferenckv: does that work for you?

[2017-01-03 15:53] evanjmg opened #55 "Android spacing for credit card does not seem to work"
Using Samsung S7 edge for any browser. The correct spacing on the input works for  `Payment.formatCardNumber(document.querySelector('input.card-number')); `
It works for everything else on Desktop and iPhone - I've tried - IE, Firefox, Safari, Opera.     `<input type="text" id="payment-1" class="card-number form-control" id="card-number"  placeholder="Card Number">`

[2017-01-03 15:57] #55 closed

[2017-01-03 15:58] evanjmg commented on #36
Any hotfixes/quick fixes for this? Using Samsung S7 edge for any browser. The correct spacing on the input works for Payment.formatCardNumber(document.querySelector('input.card-number'));
It works for everything else on Desktop and iPhone - I've tried - IE, Firefox, Safari, Opera. <input type="text" id="payment-1" class="card-number form-control" id="card-number" placeholder="Card Number">

[2017-01-16 23:51] cozzbie opened #56 "Visa cards issue"
When entering visa cards, input takes more than 16 digits. Mastercard works fine.

[2017-01-17 14:15] juliocanares commented on #56
Just to let u know @cozzbie https://blog.vindicia.com/19-digit-visas-and-2-digit-mastercards/ visa is now accepting 19 digits #24

[2017-01-17 14:15] juliocanares commented on #56
#24

[2017-01-19 08:00] cozzbie commented on #56
@juliocanares :(

this coding life of ours...we are gonna make it shine...*sobs*...make it shine...make it shine...make it shiiiinnnnnnnneeeee.

Thanks mate

[2017-02-06 04:54] simultech commented on #56
@jessepollak

This is a major issue, as the space that is automatically added to 16 digit VISA cards being formatted intercepts the onChange event, so 16 digit VISA cards never get sent to onChange.

[2017-02-15 13:05] mateuspadua commented on #27
@ceasbz tudo bem? Estou precisando de uma tabela oficial de bins da ELO, aonde vc encontrou essa? Se puder me passar, me ajudará muito, Obrigado.

[2017-02-15 21:26] kimmobrunfeldt commented on #53
@AlexGaspar your fix works for me

[2017-02-20 16:36] TrevorHinesley commented on #56
It works using `Payment.fns.formatCardNumber` so it's definitely the `Payment.formatCardNumber` function malfunctioning

[2017-02-22 21:57] johannesengl commented on #53
What is the progress on the workaround? Will the bug be fixed in the close future or does it make sense to monkey patch it till then.

[2017-02-23 08:52] cozzbie commented on #56
`Payment.fns.formatCardNumber` doesnt do much formatting though. Not even sure thats part of the api.

[2017-02-23 17:45] finnp commented on #53
I recommend using this undocumented function:
[code]

And then bind the following to `onChange`

[code]

[2017-02-25 09:40] stanleycyang commented on #56
I am seeing this issue as well. Really buggy as visas are really common

[2017-02-25 12:47] cozzbie commented on #56
The 16th character is skipped and replaced by a space and then put back on the entry of the 17th character (18th during formatting). It might be best to use another library and combine some algo to help. Thats what I did.

[2017-03-01 00:21] seawolff opened #57 "formatCardNumber breaks paste in Safari"
Using `2.1.4`

[2017-03-01 08:30] gmoreira commented on #56
@cozzbie have a look at the pull request just submitted 👍

[2017-03-01 18:48] cozzbie commented on #56
Awesome @gmoreira lets wait for the it to merged then we can update. Currently combining two libraries to get this to work and its working fine...for a hack. 👍

[2017-03-01 19:07] seawolff commented on #57
Using `2.1.4`

[2017-03-01 19:12] jessepollak commented on #56
This just got merged and will be shipped in 2.2.5!

[2017-03-01 19:12] #56 closed

[2017-03-01 19:13] jessepollak commented on #53
We've added more on change events so this should be resolved!

[2017-03-01 19:13] #53 closed

[2017-03-01 19:13] jessepollak commented on #56
2.2.0*

[2017-03-01 20:12] ccheney opened #59 "formatCardNumber is duplicating input"
http://codepen.io/ccheney/pen/bqErPp

Typing this:
4111111111111111

You end up with this:
411111111111111111

Don't have time to dig into which PR introduced this but I'd recommend sticking with v2.1.4

[2017-03-01 20:13] jessepollak commented on #59
Thanks for reporting this - looking into it right now.

[2017-03-01 20:52] jessepollak commented on #59
Fixed in 2.2.1!

[2017-03-01 20:52] #59 closed

[2017-03-03 12:32] cozzbie commented on #56
AWESOME!!!!

[2017-03-06 09:36] nnacin opened #60 "Some valid cards don't pass the validateCardNumber check"
Although it's a valid credit card, when I enter the card number it doesn't pass the validation.

Do you know what could be the reason?

[2017-04-09 05:52] dane-harnett commented on #36
Also experiencing this issue, anyone got any ideas?

[2017-04-09 06:02] dane-harnett commented on #36
#63 Hopefully that resolves this

[2017-04-09 21:01] jessepollak commented on #60
Can you give some examples of card numbers that fail validation?

[2017-04-19 15:52] JesperWe commented on #36
@dane-harnett That only fixes card number. The other fields have the same issue.

[2017-04-21 09:12] PEM-- opened #64 "Maestro card are not validated"
I've tried these 2 Maestro test card number: `5000000000000611` and `5000000000000512` without success.

[2017-04-21 09:19] PEM-- commented on #64
Note, this card n° are extracted from this website: http://www.securetrading.com/resources/test-card-numbers-2/

[2017-04-24 08:59] nnacin commented on #60
It is an actual card I use so I am not comfortable disclosing it publicly. It's a Maestro credit card, from a European bank.
When I enter it here http://stripe.github.io/jquery.payment/example/ it says the card type is Discover.

[2017-05-09 11:20] emiloberg commented on #57
@seawolff I'm seeing the same thing, did you do any more exploration around this? E.g. if it worked with the previous version or something like it?

[2017-05-09 16:35] 0xStarcat opened #66 "Issue with formatCardNumber - erased characters reappearing on validate"
Using 2.2.1

![screen shot 2017-05-09 at 11 59 22 am](https://cloud.githubusercontent.com/assets/17187192/25861747/97869cf6-34b3-11e7-9e6c-f294dc5f3904.png)

^ It appears like the field is allowing 19 characters + 3 spaces. When a user accidentally goes over 16 characters like in the photo `4242 4242 4242 4242 333` and then goes to erase the extra characters => `4242 4242 4242 4242`, and clicks `S

[2017-05-22 20:07] bmbrina commented on #53
Hi! I'm having this same issue and I have this in my package.json `"payment": "^2.2.1"`.

[2017-05-23 15:47] AsWaM opened #67 "Issue with multiple forms on the page"
Hi,

I can't get the form selector to work properly, if I try to select it by ID or by class, I don't get anything, if I let the $('form') selector, it finds its container, adds the image, but can't find the fields (although they are here).

I think this is an issue with the form selector

Card can't find a numberInput in your form.
Card can't find a expiryInput in your form.
Card can't find a cvc

[2017-05-23 15:51] AsWaM commented on #67
My bad. bootstrap is "renaming" my objects.
<form> --> <div class="form-container active">

[2017-05-23 15:51] #67 closed

[2017-05-23 20:12] bmbrina opened #68 "React/Redux formatting issue"
Referencing #53

When using React/Redux there is an issue when trying to format a card number and expiration date.
For the card, I can't type beyond four digits because it says it's not a valid number and for the date I can't type beyond two digits because I get the same error.

[2017-06-08 11:32] a-wart commented on #66
+1 have the same issue.
@jessepollak will the fix come?

[2017-06-22 00:24] andreafdaf opened #70 "Months from 13 to 19 are formatted wrong"
Hello!

As the title: if I insert numbers from 13 to 19 they are considered valid months. IMHO it should work like when you write 2{d} and it gets formatted as "02/{d}", writing 13 should become "01/3".

Thanks for this library :v:

[2017-06-22 22:37] dpattondeloitte opened #71 "Android/Chrome formatting for expiry date and credit card number"
On Pixel, running Android 7.1.2, in Chrome and Samsung S8 running Android running 7.0, also Chrome, ExpiryDate and CreditCard numbers are not formatting.

Steps to reproduce:
1. Use a Pixel or S8 running Android 7 Nougat
2. Open most recent version of Chrome
3. Navigate to http://jessepollak.github.io/payment/example/
4. Use credit card and expiry fields

![photo on 6-22-17 at 4 54 pm](https://use

[2017-06-23 06:35] rostislav-mitu commented on #66
+1, the same issue, also in React.

[2017-07-12 22:49] ohansemmanuel opened #74 "The following (valid) credit card number is not accepted"
For some reason the following credit card number is not accepted:
`5043342567607506`

A quick check on the net shows that the Luhn algorithm accepts this number as a valid credit card number. We also don't have any issues using this card number on our sister website (which uses the JQuery.payment library) so there might be something wrong.

The entire card details:

Card Number: 5043342567607506
E

[2017-07-14 12:58] cozzbie commented on #74
Can you verify who the issuer of the credit card is? The library only supports a select of card types and is not just based off Luhn alone. I ran a check on it and I cannot find any issuer attached to it.

[2017-07-14 17:47] ohansemmanuel commented on #74
Thanks, @cozzbie . I'm not sure what is wrong any longer. See attached gif, the card number seems to be interpreted as type, *MasterCard*
![jul-14-2017 18-42-05](https://user-images.githubusercontent.com/10930234/28223771-919c76ea-68c4-11e7-8c8e-b9f090fa8927.gif)

[2017-07-25 09:56] dpolkovnikov commented on #64
Hello, I have also issue with maestro card type. For example card number that started with 6007 93 should be recognized as maestro, due to maestro rules ( 6.2.1.3 a ) http://www.mastercard.com/rs/merchants/_assets/Maestro_rules.pdf , but regexp for it is not cover 6XXXXX cases.
Could you take a look on it?

[2017-08-04 02:06] #74 closed

[2017-08-04 02:07] ohansemmanuel commented on #74
I do NOT think this has to do with this library.

Thanks @cozzbie for the time

[2017-08-20 22:33] jessepollak commented on #66
Will ship this fix in the next version!

[2017-08-20 22:33] #66 closed

[2017-08-22 07:53] Changaco opened #79 "restrictNumeric blocks pasting with Ctrl+V"
`restrictNumeric()` correctly checks for `e.metaKey || e.ctrlKey`, but these are always `undefined` because `QJ.normalizeEvent()` doesn't copy them from the original event.

Relevant links to the code:

- https://github.com/jessepollak/payment/blob/v2.3.0/dist/payment.js#L372
- https://github.com/jessepollak/payment/blob/v2.3.0/dist/payment.js#L731
- https://github.com/jessepollak/qj/blob/v2.0.0/s

[2017-08-22 08:58] kgupta1988 opened #80 "Payment.formatCardNumber is allowing 19 digits"
I want to limit the credit card digits to 16, but still it is allowing 19 digits.
**Code:**
`Payment.formatCardNumber(document.querySelector('input.cc-number'), 16);`
What shall I do to restrict it to 16.

[2017-08-22 18:19] jessepollak commented on #79
Thanks for opening this issue — I'd love to accept a PR on qj for this fix. If you can't do it, I can probably take a look this weekend.

[2017-08-23 13:04] Changaco commented on #79
@jessepollak I'm not going to work on a fix, sorry. I've decided to consolidate our own module instead of using yours.

[2017-09-11 06:21] dazaooo commented on #71
I have this problem, too

[2017-09-11 18:44] silentbugs commented on #71
I've dug down this issue. This is happening because this library handles the keyboard events `keypress`, `keydown`, `keyup` etc. Those events work differently on android than they work on other browsers, and this has been known for years.

I tried to fork and fix this by replacing most events with the on `input` event which works exactly as intended, however this library's functionality has been b

[2017-09-12 00:27] jessepollak commented on #71
I am definitely open to a refactor like this, that said I don't have the bandwidth to do it. If you want to go for it, I'd love to review!

[2017-09-16 20:56] bradymccain commented on #67
@AsWaM Having the same problem. Can you describe how you fixed it?

[2017-09-17 14:40] AsWaM commented on #67
Just name the container and tell it what are its fields
The sample is in MVC but you can do the same in any language
HTML
 <div class="card-wrapper"></div>
            <div id="cardInput">
                <div class="form-group">
                    <div class="col-md-4 col-lg-offset-2">
                        @Html.TextBoxFor(x => Model.NewCard.Number, new { @class = "form-control", placeholder

[2017-09-20 11:42] ziemerz opened #81 "Marker jumping to end when editing card number"
### Description
When you delete a character in the card number and it's not from the end (latest digit) then the marker jumps to the end of the card number.

### Steps to reproduce
1. Enter a card number
2. Delete the middle most number in the card number
3. The marker jumps to the end

### Expected behaviour
That the marker does not jump to the end, and actually stays where it was placed.

~~Edit

[2017-09-20 20:49] ahfeel opened #83 "Build instructions are wrong"
Hey,

The build instructions on the README are wrong :) It seems the project now uses direct scripts using npm build, npm run test etc.. Instead of the old gulp system.

It would be great to update the README !

[2017-09-20 22:04] #83 closed

[2017-09-26 22:22] bradymccain commented on #67
The problem is that in the given examples "form" is used - not an id. Once I changed it to the form's id it worked.

[2017-10-31 02:47] fmy opened #85 "formatCardExpiry does not work in Safari on Mac"
No spaces and slash are inserted.

- macOS Sierra 10.12.6
- Safari 11.0 (12604.1.38.1.7)

Test with the demo page.
http://jessepollak.github.io/payment/example/

[2017-10-31 02:51] fmy commented on #85
Sorry it's my environmental problem.

[2017-10-31 02:51] #85 closed

[2017-11-06 13:06] artemln commented on #79
@jessepollak Please review PR https://github.com/jessepollak/payment/pull/86

[2017-11-29 14:15] bobrosoft commented on #79
@jessepollak hi there. Can you review that PR above? Experiencing same issue in our project when using Safari and trying to insert card number with Cmd+V

[2017-12-12 16:49] #81 closed

[2017-12-12 16:50] ziemerz commented on #81
This was an issue in the actual code. The version of the script in the dist folder here, is not the same version as the compiled 'index.coffee' file. Closing this issue.

[2018-01-15 16:44] maxforasteiro opened #89 "Old elo's pattern"
Hey there, didn't find any guideline to open a issue in this repo, neither to open a pull request, but here i am haha!

So, my issue is with Elo's credit card number validation, some new numbers aren't being detected.

The fix is simple, just update the actual regex to the new one, based on this gist comment https://gist.github.com/erikhenrique/5931368#gistcomment-1683630

[code]

Thanks!

[2018-03-19 11:35] esrshn opened #91 ""jasmine index.spec.js" result => Reference Error: document is not defined"
Randomized with seed 07249
Started
..............F...............FF..............................FFFFFFFFFFFFFFFFFFFFFF

Failures:
1) payment validating card types should validate troy card types
  Message:
    AssertionError [ERR_ASSERTION]: troy
  Stack:
    error properties: Object({ generatedMessage: false, code: 'ERR_ASSERTION', actual: false, expected: true, operator: '==' })
        at <Jas

[2018-03-19 13:54] esrshn commented on #91
npm install and npm run test result
---------------------------------------

Hash: f4683f5fa2953dc3a97c
Version: webpack 1.15.0
Time: 62ms
webpack: Compiled successfully.
webpack: Compiling...
Hash: 89f8ae4b3f50751ffafd
Version: webpack 1.15.0
Time: 643ms
          Asset    Size  Chunks             Chunk Names
tests.bundle.js  324 kB       0  [emitted]  tests.bundle.js
chunk    {0} tests.bundle.js

[2018-03-20 02:19] lucascavalheiro commented on #89
Hello there, I think this regex is already outdated :)
Here is a regex including `636368` and `650921 to 650978`:
```/^401178|^401179|^431274|^438935|^451416|^457393|^457631|^457632|^504175|^627780|^636297|^636369|^636368|^(506699|5067[0-6]\d|50677[0-8])|^(50900\d|5090[1-9]\d|509[1-9]\d{2})|^65003[1-3]|^(65003[5-9]|65004\d|65005[0-1])|^(65040[5-9]|6504[1-3]\d)|^(65048[5-9]|65049\d|6505[0-2]\d|6505

[2018-04-03 17:26] steveTripactions opened #93 "Payment.fns.restrictNumeric is not a function- should it be Payment.restrictNumeric?"
Removed the .fns and it seemed to work on v1.0.9

[2018-04-03 17:50] #93 closed

[2018-04-09 23:44] kwameopareasiedu opened #94 "Payment.J is undefined"
In your **dist/payment.js**, you forgot the line **Payment.J = QJ**
I managed to fix it by referring to your online demo scripts ...

[Online Demo](http://jessepollak.github.io/payment/example/)

[2018-04-30 07:34] hoektoe commented on #80
Same issue unless there is card format I am unfamiliar with

[2018-05-07 12:24] slorber opened #97 "DOM-free version?"
Hi,

This library is not coupled to JQuery but it's coupled to DOM.

I'd like to use it in ReactNative project but it seems not possible as method inputs are using DOM elements. I guess it could make sense to make a DOM-free version? Some functions like the formatting ones are not exposed with a DOM-free API.

[2018-05-15 13:46] ziedmahdi commented on #80
duplicat #44

[2018-05-29 11:19] tetris0k commented on #46
Having this issue too.
Also, it breaks on paste for both number and expiry fields.
Waiting for fixes so much!

[2018-05-30 09:45] tirli opened #98 "Discover and JCB can also be 19 characters long"
Tried to use cards from this site https://www.freeformatter.com/credit-card-number-generator-validator.html and long JCB and Discover card are cut by the validator.

[2018-07-02 08:16] Ryuubi commented on #94
Which line did you put Payment.J = QJ?

[2018-07-02 09:30] kwameopareasiedu commented on #94
Line 704...
Just before u export it...

[2018-07-02 09:37] Ryuubi commented on #94
Yea I found it while looking through the script for the online demo, but thanks for the reply!

[2018-07-25 07:25] karnprem opened #99 "On Copy Paste card is not autoformatting."
When i copy paste card number from stripe. It is not auto formatted and onload of card number also it is not auto formatting. Please check screenshot
![screenshot from 2018-07-25 12-54-48](https://user-images.githubusercontent.com/39363915/43185602-fd13dd4c-9009-11e8-9fd5-4d04a17b52ef.png)

[2018-08-12 00:40] lukaVarga commented on #36
@jessepollak any update on this? While the card number works, expiry field doesn't. I'd be willing to make a PR and fix this when I get a chance, but I see that there are several (quite old) open PRs so I'm not sure whether you still accept PRs or decided to move on from the project.

[2018-09-26 18:39] chrissrogers opened #100 "Diners club cards format as Visa"
We've had a report of incorrect formatting on Diner's Club test cards: recurly/recurly-js#476

The correct formatting would be `3056 930902 5904` (test card number) but the lib currently formats that as ` 3056 9309 0259 04`.

[2018-11-11 20:05] yovdesign commented on #36
Hi,
try defining the input as `type="tel"` with  `pattern="\d*"`
works for me...
hope it helps

[2018-11-12 23:19] lukaVarga commented on #36
The expiry field? Nope, doesn't work for me. Tried on android in Chrome just now :/

[2018-11-30 19:47] dpauley commented on #57
We're running into this issue, too. Any updates?

[2018-12-10 17:51] gilbarbara commented on #89
ELO Sucks! :P

[2019-01-17 06:27] medetcan opened #103 "Troy Credit Card Support"
Hi, can you add support for Troy credit cards ?

Troy credit card patterns : /^(?:9792|65\d{2}|36|2205)\d{12}$ /

[2019-04-09 01:46] sengoontoh commented on #66
I'm still seeing this issue where the last erased number shows up on validate.

[2019-05-14 01:32] gregkohn commented on #66
Still seeing this issue; the last erased number reappears when typing in next input.
Payment: `2.3.0`
React: `16.8.3`
Gif:
![validation](https://user-images.githubusercontent.com/5114665/57664477-4e59e780-75c6-11e9-8c19-0de53015a0ad.gif)

[2019-07-01 13:25] zeh commented on #98
For the record, #84 exists to address this but the likelihood of getting merged is low (I believe the library has been abandoned).

[2019-07-13 18:44] stelasido opened #106 "Maximum call stach execution"
I have simple form that validates CVC and card number and I am checking on click:
`console.log(Payment.formatCardCVC(CVCIn.val()));return;`, For the first tie when I press the button it works, but if I change the input and press again, I am getting this error:

    at Function.QJ.on (card-validation.js?ver=1:749)

[2020-04-24 13:59] uslualper commented on #103
Troy card is still not added. Does anyone else work on this?

[2020-05-14 02:30] Noitidart opened #109 "Overrides global Payment"
This is setting a global `Payment`. Can we make it not do this? Is there an option to control this?

[2020-08-07 16:53] bryantobing12 commented on #36
facing the same problem now. did anyone solve this issue?

[2020-10-10 08:47] whatevea commented on #36
Guys make sure the form autocomplete is off like this

[2020-10-10 08:56] whatevea commented on #36
https://github.com/jessepollak/payment/issues/36#issuecomment-706513924

[2020-12-03 20:22] melloware commented on #103
Please try Payment 2.4.0 or Card 2.5.0 if using that.  Troy should be there.

[2020-12-03 20:22] melloware commented on #103
@jessepollak If you give me access to the Payment repo I can clean all these up too.

[2020-12-03 20:23] melloware commented on #109
Please elaborate on what you mean?

[2020-12-04 00:21] jessepollak commented on #103
Done

[2020-12-04 12:11] #35 closed

[2020-12-04 12:12] #40 closed

[2020-12-04 12:13] melloware commented on #64
Can you please try with version 2.4.0 and see if Maestro is still not working?

[2020-12-04 12:15] #80 closed

[2020-12-04 12:15] melloware commented on #89
This was released in 2.4.0

[2020-12-04 12:15] #89 closed

[2020-12-04 12:16] #91 closed

[2020-12-04 12:17] melloware commented on #98
This was released in 2.4.0

[2020-12-04 12:17] #98 closed

[2020-12-04 12:17] melloware commented on #99
This was released in 2.4.0

[2020-12-04 12:17] #99 closed

[2020-12-04 12:18] melloware commented on #100
@chrissrogers Please feel free to provide a PR if you have a fix.

[2020-12-04 12:18] melloware commented on #103
This was released in 2.4.0

[2020-12-04 12:18] #103 closed

[2020-12-04 12:19] melloware commented on #106
This seems like a question for Stack Overflow.

[2020-12-04 12:19] #106 closed

[2020-12-04 12:19] #109 closed

[2020-12-04 12:20] melloware commented on #43
Dont understand what this request is.

[2020-12-04 12:20] #43 closed

[2020-12-04 12:20] melloware commented on #60
This was released in 2.4.0 Maestro has been updated

[2020-12-04 12:20] #60 closed

[2020-12-04 12:27] melloware commented on #79
This was released in 2.4.0. If anyting from your PR is not in there please submit another one.

[2020-12-04 12:27] #79 closed

[2020-12-04 14:20] #94 closed

[2020-12-04 20:51] chrissrogers commented on #100
This can be closed. I just gave that test number a run and it formats properly. I haven't dug into whether my report was initially invalid or whether the issue had resolved in the interim.. but either way it's behaving as expected now!

[2020-12-04 20:51] #100 closed

[2020-12-04 20:57] melloware commented on #100
Cool most likely it was resolved since you initially reported. Thanks!

[2020-12-04 21:01] melloware commented on #64
OK.
6007 93 is being reported as HiperCard now.

All the others in this ticket like "5000000000000611" are not being reported as Maesto still as of latest version.

[code]

[2020-12-05 17:51] melloware commented on #64
Verified my PR fixes these Maestro cases...

![image](https://user-images.githubusercontent.com/4399574/101259721-8ec50d00-36f8-11eb-8144-96aa599198c2.png)

[2020-12-05 17:51] #36 closed

[2020-12-05 18:08] #64 closed

[2021-02-18 21:32] sholladay opened #117 "ReferenceError: global is not defined"
`Payment` assigns to `global.Payment`, but `global` is not available in the browser and causes an exception.

https://github.com/jessepollak/payment/blob/f167412da35964ad3122231f7289b829b0b3491d/src/index.coffee#L551

I propose changing that line to use [`globalThis`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/globalThis) instead of `global`. The difference is

[2021-02-18 21:43] melloware commented on #117
As soon as the build in your PR is done I will merge this.

[2021-02-18 22:55] sholladay commented on #117
Thanks for the fast response. Unfortunately, Travis CI appears to be stuck.

[2021-02-18 22:56] melloware commented on #117
Yeah and the Merge button is disabled until the Travis Build finishes.  maybe @jessepollak can turn off the requirement for the Travis build to complete before we can merge?

[2021-02-19 01:52] melloware commented on #117
Looks like a unit test failed

[2021-02-19 03:44] sholladay commented on #117
I looked into it. The reason is because PhantomJS, which is used in the tests, is ancient and [unmaintained](https://github.com/ariya/phantomjs/issues/15344). It doesn't know about `globalThis`. But `globalThis` does have great support in real environments, going all the way back to Node 12 and Chrome 71, which came out more than two years ago.

The change should be extremely safe and backwards co

[2021-02-19 12:09] melloware commented on #117
Well the "Merge" button is locked out on me because the tests are passing. It will only let me Merge once the build succeeds.   But I don't want to comment out all tests. Hmmm.

[2021-03-23 02:43] thuonghoangdanh opened #121 "JCB regex wrong"
I test card number: 3518914107195001
Returned: `card_type: null`

[2021-03-23 12:10] melloware commented on #121
I can confirm this is not registering as a JCB card.  Let me look into this

[2021-03-23 12:28] #121 closed

[2021-03-23 12:29] melloware commented on #121
You can grab the latest one from the /dist folder here: https://github.com/jessepollak/payment/tree/master/dist

Its fixed and thanks for reporting!

[2021-03-24 07:10] thuonghoangdanh commented on #121
OK. Thanks

[2021-03-24 18:36] #71 closed

[2021-04-02 19:36] melloware commented on #57
Seems to be working fine now in Safari with version 2.4.3

[2021-04-02 19:36] #57 closed

[2021-05-24 09:45] thuonghdbhsoft opened #150 "The length of the visa card is 13, 16, please update"
Here is the link I refer to it
https://en.wikipedia.org/wiki/Payment_card_number

[2021-05-24 11:47] melloware commented on #150
Actually see this: https://github.com/jessepollak/payment/issues/24

[2021-05-24 11:48] melloware commented on #150
Actually its been updated to only 13, 16.  I am going to fix it to 16.

[2021-05-24 12:03] #150 closed

[2021-06-08 14:04] jack-guide opened #155 "format credit card number after Autofill"
Hi,

is there a way to format the credit card number after Autofill by the browser.

e.g. the user has their card details saved in chrome / Edge etc and is prompted to use it when they enter the credit card field. the Autofil enters the card number without spaces e.g. 4444333322221111 and it is not automatically formatted to 4444 3333 2222 1111.

if you paste 4444333322221111 into the credit card

[2021-06-08 15:03] melloware commented on #155
Hmmmm i would assume autofill would fire the change event.  If you do some research on what event is fired on autofill we might be able to fix it.

[2021-06-09 14:02] jack-guide commented on #155
the following fires:

$("[id*='CCInputFieldName']").on('blur input', function () {
alert();
});

but i do not think i have access to a function to format the input box

thanks for replying

[2021-06-09 14:37] melloware commented on #155
Weird these are the DOM events mapped to the field...  Looks like formatCardNumber is called on "input" but not on "blur" but i thought "input" should cover it?

[code]

[2021-06-09 14:46] jack-guide commented on #155
![CC Autofil](https://user-images.githubusercontent.com/7604335/121376799-1b6bb480-c942-11eb-99a9-313759f2330f.JPG)

that is a bit beyond my technical knowledge.

at the moment autofill is unformatted like this

[2021-06-09 14:47] jack-guide commented on #155
![CC Manual Entry](https://user-images.githubusercontent.com/7604335/121377032-52da6100-c942-11eb-9b4c-87c6fcb103d8.JPG)

when i manually key them in, its formatted correctly.

the same is true if i paste 4444333322221111

[2021-06-09 18:10] melloware commented on #155
Can you try something. Can you edit your payment.js locally and try it. I already had the `input` event so I added a `blur` event to reformatCardNumber.  Which is similar to the 2 Jquery events you have above.

[code]

I added the line

[code]

[2021-06-09 20:09] vhoyer opened #157 "Payment don't work with jest"
So I have a React application and I wanted to test the formatting of my input, and I couldn't test it properly, because `payment` uses `qt`, and `qt` uses the [`which` property of the KeyboardEvent which is deprecated (the recommendation being that we should use the `key` event instead)](https://developer.mozilla.org/en-US/docs/Web/API/KeyboardEvent). And apperently jest, who (to my knowledge) use

[2021-06-09 20:16] melloware commented on #157
Feel free to submit a PR or suggest a fix!

[2021-06-09 20:16] vhoyer commented on #157
Ok, upon further testing, I discovered that with the setup mentioned, the KeyboardEvent I'm getting is:

[code]

What I assume is happening is that js-dom is setting `which` and `charCode` to `0` instead of `null` (which is what the `QJ` library tests for).

My suggestion here would be for us to change the implementation of everything to use `e.key` instead of `e.which`. But if you don't like this

[2021-06-09 20:17] vhoyer commented on #157
What you think?

[2021-06-09 20:18] melloware commented on #157
These aren't my libraries but I am able to merge and accept PR's.  I don't have access to QJ only to Payment and Card.  I like your idea though!  @jessepollak

[2021-06-09 20:26] melloware commented on #157
You should submit a PR over at QJ: https://github.com/jessepollak/qj

[2021-06-09 21:07] vhoyer opened #158 "Provide function to remove listeners from a input"

[2021-06-10 08:02] jack-guide commented on #155
perfect! that worked

genius

[2021-06-10 11:47] #155 closed

[2021-06-10 11:47] melloware commented on #155
Thanks for testing fixed for 2.4.4

[2021-06-10 11:48] melloware commented on #158
PR is welcome.

[2021-06-10 12:12] jack-guide commented on #155
rockstar

[2021-06-21 14:57] jack-guide opened #161 "iOS class="cc-number""
![20210621_145225000_iOS](https://user-images.githubusercontent.com/7604335/122782776-48f51e00-d2b1-11eb-916a-395dd0e4768a.png)

i am using version 2.4.4 of your library.

<input name="ctl00$ContentPlaceHolder1$tbPPCardNumber" type="text" id="tbPPCardNumber" class="four columns cc-number unknown" inputmode="numeric" x-autocompletetype="cc-number">

the form has the novalidate

the page will not mo

[2021-06-21 15:03] melloware commented on #161
Not that I am aware of but don't you have to hit "Done" link on the keyboard numeric input in IOS to close it and move on?

[2021-06-21 15:31] jack-guide commented on #161
when i hit "done", the keyboard disappears but the card number is still highlighted in yellow and when i try to click a different field, it just brings me back to the card number

[2021-06-21 15:40] melloware commented on #161
Let me see if I can reproduce it.

[2021-06-21 15:50] melloware commented on #161
When I try it here on my iPhone it works...

https://www.primefaces.org/showcase-ext/sections/creditcard/basicUsage.jsf

[2021-06-21 15:57] jack-guide commented on #161
the way it works on that links is different from the documentation

on the input box for the card number I have class="cc-number". this seems to be what is causing the problem

<input name="ctl00$ContentPlaceHolder1$tbPPCardNumber" type="text" id="tbPPCardNumber" class="four columns cc-number unknown" inputmode="numeric" x-autocompletetype="cc-number">

[2021-06-21 15:57] jack-guide commented on #161
`<input name="ctl00$ContentPlaceHolder1$tbPPCardNumber" type="text" id="tbPPCardNumber" class="four columns cc-number unknown" inputmode="numeric" x-autocompletetype="cc-number">`

[2021-06-21 16:34] melloware commented on #161
ahh yeah i am mapping it differently there.

[2021-06-21 16:39] davidmerrique commented on #161
I'm having the same problem in Safari on desktop and mobile.
Can't tab or click away from the credit card number input field after calling `formatCardNumber(input)`

This began after updating from `2.4.3` to `2.4.4`

[2021-06-21 16:40] melloware commented on #161
The only real change was this one...

https://github.com/jessepollak/payment/issues/155

[2021-06-21 16:44] davidmerrique commented on #161
@melloware I'm wondering if it's this line that's causing the problem

https://github.com/jessepollak/payment/compare/v2.4.3...2.4.4#diff-eb104090800eb03c1ec3715392f75ea5d853e3c0252a204f165c0638c09e4e7dR735

When 'blur' happens, reFormatCardNumber is causing the field to focus again.

[2021-06-21 17:18] melloware commented on #161
That is definitely the problem. I would stay on 2.4.3 for now.

[2021-06-21 18:47] melloware commented on #155
I have to revert this change as it broke mobile browsers see #161

[2021-06-21 19:27] melloware commented on #161
I wonder if instead of `reformatCardNumber` i just do..

[code]

[2021-06-22 07:23] jack-guide commented on #161
this seems to work on iOS and on Chrome on desktop

QJ.on(el, 'keyup', reFormatCardNumber);

[2021-06-24 19:08] sgtcoder commented on #150
I am using the latest card.js from cdnjs. 2.5.3. And it still allows for 19 digits.

[2021-06-24 19:09] melloware commented on #150
yep Card has not been updated yet to Payment 2.4.4

[2021-06-24 19:10] sgtcoder commented on #150
I see, I didn't know they were related.

It would be nice to just have an option to choose which cards are supported. Otherwise great plugin!

[2021-08-12 11:40] melloware commented on #161
Can you please review my PR?

[2021-08-14 04:39] XiangBo-EvanZuo commented on #161
@melloware
Are U talk with me ?
I 'am a noob in gayhub. sorry bro.

[2021-08-14 04:42] XiangBo-EvanZuo commented on #161
My issue is in Card Number Can't Be Blur In IOS When Input Card Numbers jessepollak/card#527

[2021-08-14 11:51] melloware commented on #161
OK I just deployed Payment 2.4.5 to NPM https://www.npmjs.com/package/payment

Can you try again?

[2021-08-14 12:30] melloware commented on #161
@jessepollak it looks like all PR's are being blocked because the build is no longer running. Can you disable that check so I can merge PR's?

[2021-09-17 02:19] JamieSlome opened #171 "Trying to get in touch regarding a security issue"
Hey there!

I'd like to report a security issue but cannot find contact instructions on your repository.

If not a hassle, might you kindly add a `SECURITY.md` file with an email, or another contact method? GitHub [recommends](https://docs.github.com/en/code-security/getting-started/adding-a-security-policy-to-your-repository) this best practice to ensure security issues are responsibly disclosed,

[2021-09-17 03:12] jessepollak commented on #171
Hi - feel free to shoot me an email at the email on my profile, thanks!

[2021-09-17 12:35] melloware commented on #171
@jessepollak Can you also disable the need to PR's to pass the build check?  All of our PR's are blocked right now because of this..

[2022-03-25 20:20] melloware commented on #171
@JamieSlome was this resolved?

[2022-03-28 09:01] JamieSlome commented on #171
It has not been resolved yet, as far as we are aware.

@jessepollak - we sent an e-mail quite a while ago, but you can find the report directly here:

https://huntr.dev/bounties/46c74b89-6722-48f4-b4a3-19b2741fd1dc/

It is private and only accessible to you. Let me know if you have any questions 👍

[2022-03-28 12:06] melloware commented on #171
@JamieSlome can you add me to be able to see it.  @jessepollak allowed me to publish this module on NPM even though he did not make me an owner of this repo. I would like to get this issue fixed and pushed to NPM if possible

[2022-03-29 08:53] JamieSlome commented on #171
@melloware - I have added you as a maintainer for this repository 👍

If you view the report again, you should be able to see its contents. Let me know if you are having any issues.

[2022-03-31 23:31] #171 closed, assigned to nobody

[2022-05-29 17:49] osrl commented on #155
I still have this issue on 2.4.6

[2022-05-29 19:52] melloware commented on #155
Yes see my comment above that is had to be reverted because it broke mobile browsers

[2022-08-05 14:22] doodi-v1 opened #199 "Strange CC editing behavior"
Moving the cursor to mid account number to edit produces strange results. Type in: 4321 0000 0000

A partial card, and spaces were auto-inserted. Move the cursor to the end of the first set of zeros, backspace twice and type 98, the result will be: 4321 00 0000 98

The result should have been: 4321 0098 0000

I think it should honor the desired result or, if not possible, not allow mid-string edit